
<div
id="intro-example"
class="p-5 text-center bg-image"
style="background-repeat:no-repeat;
height: 100vh;
background-size:cover;
background-position:center;
background-image: url(https://images.theconversation.com/files/329398/original/file-20200421-82650-1lnw92a.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=900.0&fit=crop);"
>
<div class="homecontent">
<h2 class="display-1">Contact Us</h2>
<ul class="list-group list-group-flush">
    <li class="list-group-item bg-transparent">Abhijeet Pitlewad</li>
    <li class="list-group-item bg-transparent">Baishakhi Chakraborty</li>
    <li class="list-group-item bg-transparent">Afsa J</li>
    <li class="list-group-item bg-transparent">Samarth Nagmode</li>
    <li class="list-group-item bg-transparent">Vineet Rajput</li>
  </ul>
</div>
</div>