
<div
id="intro-example"
class="p-5 text-center bg-image"
style="background-repeat:no-repeat;
height: 100vh;
background-size:cover;
background-position:center;
background-image: url(https://www.sita.aero/globalassets/images/banners/airlines-1137400812.jpg);"
>
<div class="homecontent">
<h2 class="display-1">About Us</h2>
<h4 id="aboutUs">Airways connects the world to, and through, our global hub in India. We operate modern, efficient and comfortable aircraft, and our culturally diverse workforce delivers award-winning services to our customers across six continents every day.</h4>
</div>
</div>