


<div
    id="intro-example"
    class="p-5 text-center bg-image"
    style="background-repeat:no-repeat;
    height: 100vh;
    background-size:cover;
    background-position:center;
    background-image: url(https://media.cntraveler.com/photos/607f3c487774091e06dd5d21/16:9/w_2560%2Cc_limit/Breeze%2520Airways_166655077_303814634409055_8038496796049085212_n.jpeg);"
  >
  <div class="homecontent">
    <h1 class="display-1">Admin Dashboard</h1>
    <button style='margin-right:16px' class="btn btn-primary" (click)="navigateToAddFlight()">Add Flight</button>
    <button style='margin-right:16px' class="btn btn-primary" (click)="navigateToDeleteFlight()">Delete Flight</button>
    <button style='margin-right:16px' class="btn btn-primary" (click)="navigateToAllFlights()">All Flight</button>
</div>
</div>