
<!-- <section class="home">
    <img src="../../assets/background.JPG">
    
    <div class="homecontent">
    <h1>Airline making way to fly</h1>
    
    <a routerLink="admin" class="btn btn-lg btn-light">Admin Login</a> &nbsp;
    <a routerLink="user/login" class="btn btn-lg btn-light">User Login</a>
    </div>
</section> -->

<div
    id="intro-example"
    class="p-5 text-center bg-image"
    style="background-repeat:no-repeat;
    height: 100vh;
    background-size:cover;
    background-position:center;
    background-image: url(https://www.sita.aero/globalassets/images/banners/airlines-1137400812.jpg);"
  >
  <div class="homecontent">
    <h1 class="display-1">The best host for the journey</h1>
    
    <a (click)="navigateAdmin()" class="btn btn-lg btn-light">Admin Login</a> &nbsp;
    <a (click)="navigateUser()" class="btn btn-lg btn-light">User Login</a>
</div>
</div>

